body{
    margin: 0px;
}
header{
background-color: rgb(255, 109, 182);
}
.menu{
    display: flex;
    justify-content: center;
    gap: 15px;
    font-size: 25px;
    align-items: center;
}
.menu a{
    text-decoration: none;
    color: black;
    
    
}
.logo img{
    width:50px;
    height: 50px;
    margin-top: 10px;
    
}
.text{
    display: flex;
    justify-content: center;
    background-color: rgb(255, 109, 182);
    width: 500px;
    height: 200px;
    border-radius: 20px;
    text-align: center;
    align-items: center;
    margin-top: 20px;
    font-size: 25PX;
    color: white;

}
.vse{
      display: flex;
    justify-content: center;
    


}
.vsi{
    display: flex;
    justify-content: center;
    flex-direction: column-reverse;
background-color: rgb(255, 109, 182);
margin-top: 640px;



}
.tex{
background-color: rgb(255, 109, 182);
height: 30px;
text-align: center;
align-items: center;
font-size: 20px;
color: white;


}
.form input{
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    border: 0 solid;
}
form{
    background-color:rgb(255, 109, 182) ;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 450px;
    height: 350px;
    padding: 10px;
    border-radius: 10px;
    
}
.form{
    display: flex;
    justify-content: center;
    
}